<!DOCTYPE html>
<html>
<head>
  <title>RailsBulletinBoard</title>
  <%= stylesheet_link_tag    "rails_bulletin_board/application", media: "all" %>
  <%= javascript_include_tag "rails_bulletin_board/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
